<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home">
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BiblioteQa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">

                    @if (WebApplication1.Helper.Methods.CheckIsActive()==true)
                    {
                        if (WebApplication1.Helper.Methods.CheckUserPermission())
                        {
                            <li>@Html.ActionLink("Lista książek", "Index", "UserBook")</li>
                            <li>@Html.ActionLink("Archiwum wypożyczeń", "", "Rents")</li>
                            <li>@Html.ActionLink("Koszyk", "Index", "Carts")</li>
                            <li>@Html.ActionLink("Wyszukaj", "Index", "Search")</li>
                        }

                        if (WebApplication1.Helper.Methods.CheckWorkerPermission())
                        {
                            <li>@Html.ActionLink("Zarządzaj książkami", "Index", "Books")</li>
                            <li>@Html.ActionLink("Lista tagów", "Index", "Tags")</li>
                            <li>@Html.ActionLink("Spis kategorii", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Przypisz tag", "Index", "BookTags")</li>
                            <li>@Html.ActionLink("Przypisz kategorię", "Index", "BookCategories")</li>
                            <li>@Html.ActionLink("Wyszukaj", "IndexWorker", "Search")</li>
                        }

                        if (WebApplication1.Helper.Methods.CheckAdminPermission())
                        {
                            <li>@Html.ActionLink("Zarządzaj kontami", "Index", "Accounts")</li>
                            <li>@Html.ActionLink("Zarządzaj wiadomościami", "Index", "Messages")</li>
                        }
                    }



                    @if (WebApplication1.Helper.Methods.UserId == null)
                    {
                        <li class="btn">@Html.ActionLink("Zaloguj", "Login", "Login")</li>
                        <li class="btn">@Html.ActionLink("Zarejestruj", "Register", "Login")</li>
                    }
                    else
                    {
                        <li class="btn">@Html.ActionLink(WebApplication1.Helper.Methods.UserMail, "", "")</li>
                        <li class="btn">@Html.ActionLink("Wyloguj", "LogOut", "Login")</li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <header id="head">
        <header id="head3">
            <div class="container">
                <div class="row">
                    @RenderBody()
                    <hr />
                </div>
            </div>
        </header>

            <footer id="footer" >
                <div class="footer1">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3 widget">
                                <h3 class="widget-title">Contact</h3>
                                <div class="widget-body">
                                    <p>
                                        +234 23 9873237<br>
                                        <a href="mailto:#">some.email@somewhere.com</a><br>
                                        <br>
                                        234 Hidden Pond Road, Ashland City, TN 37015
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-3 widget">
                                <h3 class="widget-title">Follow me</h3>
                                <div class="widget-body">
                                    <p class="follow-me-icons">
                                        <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                        <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                        <a href=""><i class="fa fa-github fa-2"></i></a>
                                        <a href=""><i class="fa fa-facebook fa-2"></i></a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 widget">
                                <h3 class="widget-title">Text widget</h3>
                                <div class="widget-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                                    <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
                                </div>
                            </div>

                        </div> <!-- /row of widgets -->
                    </div>
                </div>
                <div class="footer2">
                    @WebApplication1.Helper.Methods.CheckIsActive().ToString()
                    <p class="text-right">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </div>
            </footer>

</header>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
