<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BiblioteQa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (WebApplication1.Helper.Methods.CheckIsActive()==true)
                    {
                        if (WebApplication1.Helper.Methods.CheckUserPermission())
                        {
                            <li>@Html.ActionLink("Lista książek", "Index", "UserBook")</li>
                            <li>@Html.ActionLink("Archiwum wypożyczeń", "", "Rents")</li>
                            <li>@Html.ActionLink("Koszyk", "Index", "Carts")</li>
                            <li>@Html.ActionLink("Wyszukaj", "Index", "Search")</li>
                        }

                        if (WebApplication1.Helper.Methods.CheckWorkerPermission())
                        {
                            <li>@Html.ActionLink("Zarządzaj książkami", "Index", "Books")</li>
                            <li>@Html.ActionLink("Lista tagów", "Index", "Tags")</li>
                            <li>@Html.ActionLink("Spis kategorii", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Przypisz tag", "Index", "BookTags")</li>
                            <li>@Html.ActionLink("Przypisz kategorię", "Index", "BookCategories")</li>
                            <li>@Html.ActionLink("Wyszukaj", "IndexWorker", "Search")</li>
                        }

                        if (WebApplication1.Helper.Methods.CheckAdminPermission())
                        {
                            <li>@Html.ActionLink("Zarządzaj kontami", "Index", "Accounts")</li>
                            <li>@Html.ActionLink("Zarządzaj wiadomościami", "Index", "Messages")</li>
                        }
                    }



                    @if (WebApplication1.Helper.Methods.UserId == null)
                    {
                        <li>@Html.ActionLink("Zaloguj", "Login", "Login")</li>
                        <li>@Html.ActionLink("Zarejestruj", "Register", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(WebApplication1.Helper.Methods.UserMail, "", "")</li>
                        <li>@Html.ActionLink("Wyloguj", "LogOut", "Login")</li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @WebApplication1.Helper.Methods.CheckIsActive().ToString()
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
