@model Biblioteka.Models.Account


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Biblioteka", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(Biblioteka.Helper.Methods.CheckIfUserIsAdmin())
                    {
                        <li>@Html.ActionLink("Admin Panel", "Main", "AdminPanel")</li>
                    }

                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@



                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session[Biblioteka.Helper.Consts.SESSION_LOGIN] != null)
                    {
                        <li><a href="~/Home/Logout/"> Hello @Session[Biblioteka.Helper.Consts.SESSION_LOGIN].ToString()</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div style="background-color: white; height: 300px; width: 650px; position: absolute; left: 43%; top: 45%; margin-left: -150px; margin-top: -150px; " class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <h1 style="text-align: center">Login to Your Account</h1><br>
                        <form style="text-align: center">
                            <div style="text-align: center">
                                @Html.EditorFor(model => model.Login)
                                @Html.PasswordFor(model => model.Password)
                            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                            </div>
                        </form>

                        <div style="text-align: center" class="login-help">
                            <a href="~/Home/Register/">Register</a> -
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
