@model WebApplication1.Models.Account

@{
    ViewBag.Title = "Login";
}



@if (WebApplication1.Helper.Methods.RegisterSuccess != null)
{
    <div id="errorLogIn">
        Konto zostało założone, możesz się zalogować
    </div>
}


     

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Zaloguj się!</h1>
                </header>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                    


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Login) } }) <br />
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger", Id = "errorLogIn" })
                    </div>

                    <br />

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) } }) <br />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", Id = "errorLogIn" })
                    </div>

                    <br />

                    @if (WebApplication1.Helper.Methods.RegisterSuccess == null)
                {
                    if (WebApplication1.Helper.Methods.LoginFailed != null)
                    {
                            <div id="errorLogIn">
                                Podano niepoprawny login lub haslo
                            </div>
                        }
                    }



                    <div class="row">
                  
                        <div class="col-lg-7 text-right">
                            <input class="btn btn-action" type="submit" value="Zaloguj" />
                        </div>
                    </div>


                </div>
            </article>
        </div>
    }

    <h4>Nie posiadasz jeszcze konta? </h4>
    <h4>Przejdź do <a href="@Url.Action("Register", "Login")">rejestracji!</a></h4>


